* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
}

body {
    width: 100%;
}

#nav, #logo {
  display: inline-block;
  padding: 1rem;
}

#nav {
  text-align: right;
  width: 100%;
}

.linknav{
    padding: 20px;
    text-decoration: none;
}

#logo {
  width: 100px;
  height: 95px;
  float: left;
}

.main-center{
    margin: auto;
      background-color: white;
      text-align: center;
      display: flex;
      background-image: url('images/FEET.png');
      background-repeat: no-repeat;
      background-size: 100%;
}

.text, .apply{
    width: 100%;
    background-color: #fff;
    margin: 50px;
    padding: 50px;
}

.text h1{
    font-size: 60px;
}

.text p{
    padding: 1rem;
}

.apply{
    background-color: #3a3399;
    border: none;
    color: white;
    padding: 13px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    width: 20%;
}

.main-body {
    padding-left: 10rem;
    padding-right: 10rem;
}

.team h2{
    font-size: 40px;
}

.team h2, .team p{
    padding: 1rem;
    padding-left: 10rem;
}

.team p{
    padding-bottom: 5rem;
}

.teamsection{
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.teamsection img{
    height: 50%;
    width: 50%;
}

.eventtitle {
    font-size: 30px;
    font-weight: bold;
}

.partners h2{
    width: 30%;
    padding: 5rem;
    padding-left: 10rem;
}

.partners, .partners img {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.partners img{
    width: 30%;
    height: 30%;
}

footer{
    text-align:center;
    padding: 4rem;
}

footer h2{
    font-size: 10px;
}

footer h3{
    font-size: 8px;
}

.about {
    text-align:center;
}

.pastevents {
    text-align: left;
    padding: 1rem;
}

h2{
    padding: 1rem;
}

#eventdescription {
    padding: 1rem;
    width: 30%;
    font-size: 22px;
}

#eventdescription, img{
    display: inline-block;
    padding: 1rem;
}

.homepagetitle {
    font-size: 50px;
}